# Sequence

In this notebook I have merged two different csv's. The first one is the particpants csv, and the other one is the fixations csv. I combined the csv's based on the participants and made a sequence of the order at which the participants look at things. This gives us one csv with the following columns: participant, experience and obs_sequence.

In [ ]:
import pandas as pd

pad = "../../data/csv/"
image_pad =  "../../data/Images/CrimeScenes/"

df = pd.read_csv(pad + 'fix_evidence.csv')

# Create a sequence of obs_names per participant
df['roi_sequence'] = df.groupby('Participant')['ROI'].transform(lambda x: ','.join(map(str, x)))

# Drop duplicates to keep only one sequence per participant
df_sequence = df[['Participant', 'roi_sequence', 'experience']].drop_duplicates()

# Resulting dataset
df_sequence.head()

df_sequence.to_csv(pad + 'csi_data_roi.csv', index=False)

,Participant,obs_sequence,experience
0,2.0,"[0, 22, 9, 8, 0, 0, 0, 0, 0, 8, 8, 7, 17, 15, ...",Control
1708,4.0,"[19, 9, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 8, 8, 19...",FirstYear
2145,7.0,"[0, 18, 8, 0, 0, 0, 0, 0, 12, 7, 15, 2, 2, 7, ...",Control
3017,11.0,"[15, 0, 23, 9, 9, 0, 8, 9, 0, 0, 0, 9, 0, 0, 8...",ThirdYear
3685,12.0,"[19, 9, 19, 8, 0, 0, 11, 0, 0, 0, 0, 0, 0, 19,...",FirstYear

In [2]:
# Function to collapse the list by removing consecutive duplicates
def collapse_numbers(numbers):
    result = []
    for num in numbers:
        if not result or num != result[-1]:
            result.append(num)
    return result

In [3]:
df_sequence['collapsed'] = df_sequence['obs_sequence'].apply(lambda x : collapse_numbers(x))

In [4]:
df_sequence.head()

,Participant,obs_sequence,experience,collapsed
0,2.0,"[0, 22, 9, 8, 0, 0, 0, 0, 0, 8, 8, 7, 17, 15, ...",Control,"[0, 22, 9, 8, 0, 8, 7, 17, 15, 8, 0, 9, 0, 23,..."
1708,4.0,"[19, 9, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 8, 8, 19...",FirstYear,"[19, 9, 0, 8, 19, 0, 7, 0, 9, 7, 21, 0, 9, 8, ..."
2145,7.0,"[0, 18, 8, 0, 0, 0, 0, 0, 12, 7, 15, 2, 2, 7, ...",Control,"[0, 18, 8, 0, 12, 7, 15, 2, 7, 9, 0, 9, 2, 17,..."
3017,11.0,"[15, 0, 23, 9, 9, 0, 8, 9, 0, 0, 0, 9, 0, 0, 8...",ThirdYear,"[15, 0, 23, 9, 0, 8, 9, 0, 9, 0, 8, 0, 8, 0, 8..."
3685,12.0,"[19, 9, 19, 8, 0, 0, 11, 0, 0, 0, 0, 0, 0, 19,...",FirstYear,"[19, 9, 19, 8, 0, 11, 0, 19, 0, 17, 13, 15, 2,..."

In [5]:
df = pd.read_csv(pad + 'fix_evidence.csv')

# Fill missing evidence values if any
df['ROI'] = df['ROI'].fillna('')

# Create a sequence of Evidence per Participant, Image, Scene
df['roi_sequence'] = df.groupby(['Participant', 'Image', 'Scene'])['ROI'].transform(lambda x: ','.join(map(str, x)))

# Drop duplicates to keep one row per unique group
df_sequence = df[['Participant', 'Image', 'Scene', 'roi_sequence', 'experience']].drop_duplicates()


df_name_sequence.to_csv(pad + 'csi_data.csv', index=False)

function to calculate the values within the list.

In [6]:
# Function to collapse the list with the numbers calculated
def count_consecutive_occurrences(lst):
    result = []
    count = 1  # Initialize counter

    for i in range(1, len(lst)):
        if lst[i] == lst[i - 1]:  # If current value equals the previous one
            count += 1  # Increment counter
        else:
            result.append(count)  # Append the count to result
            count = 1  # Reset counter

    result.append(count)  # Append the last count
    return result

In [7]:
input_list = [1, 5, 5, 6, 4, 1, 1, 1]
output_list = count_consecutive_occurrences(input_list)
print(output_list)

[1, 2, 1, 1, 3]

In [8]:
df_sequence['collapse_amount'] = df_sequence['obs_sequence'].apply(lambda x : count_consecutive_occurrences(x))

In [9]:
df_sequence.head()

,Participant,obs_sequence,experience,collapsed,collapse_amount
0,2.0,"[0, 22, 9, 8, 0, 0, 0, 0, 0, 8, 8, 7, 17, 15, ...",Control,"[0, 22, 9, 8, 0, 8, 7, 17, 15, 8, 0, 9, 0, 23,...","[1, 1, 1, 1, 5, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
1708,4.0,"[19, 9, 0, 0, 0, 0, 0, 0, 0, 0, 8, 8, 8, 8, 19...",FirstYear,"[19, 9, 0, 8, 19, 0, 7, 0, 9, 7, 21, 0, 9, 8, ...","[1, 1, 8, 4, 1, 1, 1, 3, 3, 1, 1, 2, 2, 1, 1, ..."
2145,7.0,"[0, 18, 8, 0, 0, 0, 0, 0, 12, 7, 15, 2, 2, 7, ...",Control,"[0, 18, 8, 0, 12, 7, 15, 2, 7, 9, 0, 9, 2, 17,...","[1, 1, 1, 5, 1, 1, 1, 2, 1, 1, 2, 1, 2, 3, 1, ..."
3017,11.0,"[15, 0, 23, 9, 9, 0, 8, 9, 0, 0, 0, 9, 0, 0, 8...",ThirdYear,"[15, 0, 23, 9, 0, 8, 9, 0, 9, 0, 8, 0, 8, 0, 8...","[1, 1, 1, 2, 1, 1, 1, 3, 1, 2, 1, 1, 1, 1, 1, ..."
3685,12.0,"[19, 9, 19, 8, 0, 0, 11, 0, 0, 0, 0, 0, 0, 19,...",FirstYear,"[19, 9, 19, 8, 0, 11, 0, 19, 0, 17, 13, 15, 2,...","[1, 1, 1, 1, 2, 1, 6, 1, 1, 1, 1, 1, 2, 2, 1, ..."