# Sequence

In this notebook I have merged two different csv's. The first one is the particpants csv, and the other one is the fixations csv. I combined the csv's based on the participants and made a sequence of the order at which the participants look at things. This gives us one csv with the following columns: participant, experience and obs_sequence.

In [ ]:
import pandas as pd

pad = "../../data/csv/"
image_pad =  "../../data/Images/CrimeScenes/"

df = pd.read_csv(pad + 'fix_evidence.csv')

# Create a sequence of obs_names per participant
df['exitentry_sequence'] = df.groupby('Participant')['ExitEntry'].transform(lambda x: ','.join(map(str, x)))

# Drop duplicates to keep only one sequence per participant
df_sequence = df[['Participant', 'exitentry_sequence', 'experience']].drop_duplicates()

# Resulting dataset
df_sequence.head()

df_sequence.to_csv(pad + 'csi_data_exitentry.csv', index=False)

In [ ]:
import pandas as pd

pad = "../../data/csv/"
image_pad =  "../../data/Images/CrimeScenes/"

df = pd.read_csv(pad + 'fix_evidence.csv')

# Fill missing evidence values if any
df['ExitEntry'] = df['ExitEntry'].fillna('')

# Create a sequence of Evidence per Participant, Image, Scene
df['exitentry_sequence'] = df.groupby(['Participant', 'Image', 'Scene'])['ExitEntry'].transform(lambda x: ','.join(map(str, x)))

# Drop duplicates to keep one row per unique group
df_sequence = df[['Participant', 'Image', 'Scene', 'exitentry_sequence', 'experience']].drop_duplicates()

# Save the resulting dataset
df_sequence.to_csv(pad + 'csi_data_exitentry_by_image_scene.csv', index=False)

In [3]:
df

,Unnamed: 0,Image,Scene,ROI,Participant,FixDur,FixNr,Start,End,X,Y,Name,NextROI,experience,Evidence,Movable,ExitEntry,exitentry_sequence
0,0,1,1,0,2.0,103.0,1.0,7.0,109.0,510.9,381.0,Back_wall,Bottle_on_table,Control,No,No,No,"No,No,No,No,No,No,No,No,No,No,No,No,Yes,Yes,No..."
1,1,1,1,22,2.0,77.0,2.0,236.0,312.0,450.8,307.0,Curtains,Floor,Control,No,No,No,"No,No,No,No,No,No,No,No,No,No,No,No,Yes,Yes,No..."
2,2,1,1,9,2.0,300.0,3.0,347.0,646.0,414.5,447.9,Back_chair,Body,Control,No,No,No,"No,No,No,No,No,No,No,No,No,No,No,No,Yes,Yes,No..."
3,3,1,1,8,2.0,165.0,4.0,687.0,851.0,468.6,619.1,Floor,Elsewhere,Control,No,No,No,"No,No,No,No,No,No,No,No,No,No,No,No,Yes,Yes,No..."
4,4,1,1,0,2.0,461.0,5.0,876.0,1336.0,465.4,687.9,Body,Elsewhere,Control,Yes,Yes,No,"No,No,No,No,No,No,No,No,No,No,No,No,Yes,Yes,No..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30187,30187,2,3,7,9008.0,243.0,71.0,25535.0,25777.0,307.6,524.2,Table,NaN,Control,No,No,No,"No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,N..."
30188,30188,2,3,13,9008.0,274.0,72.0,25829.0,26102.0,530.8,385.8,Right_plate,NaN,Control,Yes,Yes,No,"No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,N..."
30189,30189,2,3,14,9008.0,374.0,73.0,26136.0,26509.0,623.9,466.2,Right_fork,NaN,Control,Yes,Yes,No,"No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,N..."
30190,30190,2,3,7,9008.0,170.0,74.0,26578.0,26747.0,305.1,542.6,Table,NaN,Control,No,No,No,"No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,N..."
30191,30191,2,3,5,9008.0,109.0,75.0,26789.0,26897.0,403.2,423.2,Left_plate,Fallen_glass_on_table,Control,Yes,Yes,No,"No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,N..."